<h1>Hello, {{.Name}}, Bio: {{.Bio}}, Height: {{.Height}}, Phone: {{.Phone}}, lived in: {{.YearsCity}}</h1>
{{ if eq .Name "carlos" }}<h2>special content </h2>{{ else }}<h2>content for others</h2>{{ end }}