{{template "header" .}}
<form>
    <div>
        <label>Email Address</label>
        <input />
    </div>
    <div>
        <label>Password</label>
        <input />
    </div>
    <div>
        <label>Sign up</label>
        <input />
    </div>
</form>
{{template "footer" .}}
